<!doctype html>
<html>
	<head>
		<meta charset="utf-8">

		<title>Garry's Mod Main Menu</title>

		<!-- existing stuff -->
		<script type="text/javascript" src="../../../../html/js/lua.js"></script>
		<script type="text/javascript" src="../../../../html/js/thirdparty/angular.js"></script>
		
		<link rel="stylesheet" type="text/css" href="../../../../html/css/menu/Menu.css" />
		<link rel="stylesheet" type="text/css" href="../../../../html/css/menu/NewGame.css" />
		
		<!-- new stuff -->
		<script src="main.js"></script>
		
		<link rel="stylesheet" type="text/css" href="style.css" />		
	</head>
	
	<body ng-app="lsbApp" ng-controller="serverBrowser">
		<div class="maplist">			
			<div id="resultsHeaders" ng-show="serverResults.length">
				<table class="results">
					<tr>
						<td class="pass icon"></td>
						<td class="VAC icon"></td>
						<td class="big">Name</td>
						<td class="mid">Gamemode</td>
						<td class="small">Players</td>
						<td class="mid">Map</td>
						<td class="small">Ping</td>
					</tr>
				</table>
			</div>
			
			<div id="results" class="scrollable" ng-class="{selected: curServer}">
				<div id="noResults" class="centeredbg" ng-show="loading && !serverResults.length">
					<span class="centered">Fetching results...</span>
				</div>

				<div id="noResults" class="centeredbg" ng-hide="loading || serverResults.length">
					<span class="centered">No results found &#58;&#40;</span>
				</div>

				<table id="serverResults" class="results" ng-show="serverResults.length">
					<tr ng-repeat="($index, server) in serverResults" ng-click="viewServer($index)">
						<td class="icon" ng-class="{pass: server.pass}"></td>
						<td class="icon" ng-class="{VAC: server.VAC}"></td>
						<td class="big" ng-bind="server.name"></td>
						<td class="mid" ng-bind="server.gamemode"></td>
						<td class="small">{{server.numPlayers}} / {{server.maxPlayers}}</td>
						<td class="mid" ng-bind="server.map"></td>
						<td class="small" ng-bind="server.ping"></td>
					</tr>
				</table>
			</div>
			
			<div id="serverInfo" ng-class="{open: curServer}">
				<p ng-hide="curServer">Select a server to see info</p>
				
				<div ng-show="curServer">
					<span ng-bind="curServer.name"></span>
					<span ng-bind="curServer.gamemode"></span>
					
					<br />
					
					<span>{{serverRules}}</span>
				</div>
			</div>
				
			<div id="loadingbar" ng-show="loading == 2">
				<div id="label">{{serverResults.length}} / {{resultsLength}}</div>
				<div id="fg" ng-style="loadingBarStyle()"></div>
				<div id="bg"></div>
			</div>
		</div>

		<gamesettings>
			<div class="scrollable" style="margin: 10px; bottom: 65px; top: 0px">
				<ul>
					<li class="select">
						<label for="regionSelect" ng-bind="settings.region[query.master.region]"></label>
						<input type="checkbox" id="regionSelect" ng-model="regionSelect">
						
						<div ng-show="regionSelect">
							<a ng-repeat="(val, name) in settings.region" ng-click="setRegion(val)" ng-bind="name"></a>
						</div>
					</li>
					
					<div ng-repeat="group in settings.query">
						<li class="label" ng-bind="group[0]"></li>
						
						<li ng-repeat="option in group[1]" ng-class="{number: option[4]}">
							<label ng-bind="option[0]"></label>
							<input type="{{option[1]}}" ng-model="query[option[2]][option[3]]">
						</li>
					</div>
				</ul>
			</div>
			
			<bottom>
				<button class='btn-primary' ng-click="fetchServers()">Find Servers</button>
			</bottom>

		</gamesettings>
	</body>
</html>