<!doctype html>
<html>
	<head>
		<meta charset="utf-8">

		<title>Garry's Mod Main Menu</title>

		<!-- existing stuff -->
		<script type="text/javascript" src="../../../../html/js/lua.js"></script>
		<script type="text/javascript" src="../../../../html/js/thirdparty/angular.js"></script>
		
		<link rel="stylesheet" type="text/css" href="../../../../html/css/menu/Menu.css" />
		<link rel="stylesheet" type="text/css" href="../../../../html/css/menu/NewGame.css" />
		
		<!-- new stuff -->
		<script src="main.js"></script>
		
		<link rel="stylesheet" type="text/css" href="style.css" />		
	</head>
	
	<body ng-app="lsbApp" ng-controller="serverBrowser">
		<div class="maplist icons">

			<div class="controls">
				{{loading}}
				{{serverResults.length}}
				{{resultsLength}}
			</div>
			
			<div id="resultsHeaders" ng-show="serverResults.length">
				<table class="results">
					<tr>
						<td class="icon">A</td>
						<td class="icon">B</td>
						<td class="name">Name</td>
						<td>Gamemode</td>
						<td>Players</td>
						<td>Map</td>
						<td>Ping</td>
					</tr>
				</table>
			</div>
			
			<div class="scrollable" style="top:40px; right:0; bottom:0; left:200px;">
				<div id="noResults" class="centeredbg" ng-show="loading && !serverResults.length">
					<span class="centered">Fetching results...</span>
				</div>

				<div id="noResults" class="centeredbg" ng-hide="loading || serverResults.length">
					<span class="centered">No results found &#58;&#40;</span>
				</div>

				<table id="serverResults" class="results" ng-show="serverResults.length">
					<tr ng-repeat="server in serverResults">
						<td class="icon" ng-class="{pass: server.pass}">{{server.pass}}</td>
						<td class="icon" ng-class="{VAC: server.VAC}">{{server.VAC}}</td>
						<td class="name" ng-bind="server.name"></td>
						<td ng-bind="server.gamemode"></td>
						<td>{{server.numPlayers}} / {{server.maxPlayers}}</td>
						<td ng-bind="server.map"></td>
						<td ng-bind="server.ping"></td>
					</tr>
				</table>
			</div>
				
			<div id="loadingbar" ng-show="loading == 2">
				<div id="label">{{serverResults.length}} / {{resultsLength}}</div>
				<div id="fg" ng-style="loadingBarStyle()"></div>
				<div id="bg"></div>
			</div>
		</div>

		<gamesettings>
			<div class="scrollable" style="margin: 10px; bottom: 65px; top: 0px">
				<ul>
					<!-- <li>
						<label>Region:</label>
						<select>
							<option value="0">U.S. East Coast</option>
							<option value="1">U.S. West Coast</option>
							<option value="2">South America</option>
							<option value="3">Europe</option>
							<option value="4">Asia</option>
							<option value="5">Australia</option>
							<option value="6">Middle East</option>
							<option value="7">Africa</option>
							<option value="255">Rest of the world</option>
						</select>
					</li> -->
					
					<div class="dropdown">

						<div class="label" onclick="$(this).siblings('.contents').toggle()">
							<span>Region</span>
							<i class='caret'></i>
						</div>
						<div class="contents" onclick="$(this).hide()">
							<div ng-repeat="ply in Players" ng-click="UpdateMaxPlayers( ply )" ng-tranny="ply.label">
							{{ply.label}}
							</div>
						</div>
					</div>

					<li class="label">Generic stuff</li>
					
					<li>
						<label>Dedicated</label>
						<input type="checkbox"/>
					</li>
					<li>
						<label>VAC</label>
						<input type="checkbox"/>
					</li>
					<li>
						<label>Server empty</label>
						<input type="checkbox"/>
					</li>
					<li>
						<label>Server has players</label>
						<input type="checkbox"/>
					</li>
					<li>
						<label>Server not full</label>
						<input type="checkbox"/>
					</li>
					<li>
						<label>Whitelisted</label>
						<input type="checkbox"/>
					</li>
					
					<li class="label">Specific stuff</li>

					<li>
						<label>Map</label>
						<input type="text"/>
					</li>
					<li>
						<label>Hostname</label>
						<input type="text"/>
					</li>
					<li>
						<label>IP Address</label>
						<input type="text"/>
					</li>
					
					<li class="label">Probably useless</li>

					<li>
						<label>Game directory</label>
						<input type="text" value="garrysmod"/>
					</li>
					<li>
						<label>Linux</label>
						<input type="checkbox"/>
					</li>
					<li>
						<label>Spectator server</label>
						<input type="checkbox"/>
					</li>
					<li class="number">
						<label>App ID</label>
						<input type="text" value="4000"/>
					</li>
					<li class="number">
						<label>Version</label>
						<input type="text" value="15.04.03"/>
					</li>
					<li>
						<label>Collapse multiples</label>
						<input type="checkbox"/>
					</li>
				</ul>
			</div>
			
			<bottom>
				<button class='btn-primary' ng-click="fetchServers()">Find Servers</button>
			</bottom>

		</gamesettings>
	</body>
</html>