<!doctype html>
<html>
	<head>
		<meta charset="utf-8">

		<title>Garry's Mod Main Menu</title>

		<!-- existing stuff (barf) -->
		<script type="text/javascript" src="../../../../html/js/lua.js"></script>
		<script type="text/javascript" src="../../../../html/js/thirdparty/angular.js"></script>
		
		<link rel="stylesheet" type="text/css" href="../../../../html/css/menu/Menu.css" />
		<link rel="stylesheet" type="text/css" href="../../../../html/css/menu/NewGame.css" />
		
		<!-- new stuff -->
		<script src="js/main.js"></script>
		
		<!-- todo: pre-compile this (loading times suck) -->
		<link rel="stylesheet/less" type="text/css" href="css/style.less" />
		<link rel="stylesheet/less" type="text/css" href="css/sortable.less" />
		
		<script src="js/less.min.js"></script>
	</head>
	
	<body ng-app="lsbApp" ng-controller="serverBrowser">
		<div class="maplist">
			{{querySettings}}
			
			<div id="content" class="scrollable" ng-class="{selected: curServer}">
				<div id="noResults" class="centeredbg" ng-show="loading && !serverResults.length">
					<span class="centered">Fetching results...</span>
				</div>

				<div id="noResults" class="centeredbg" ng-hide="loading || serverResults.length">
					<span class="centered">No results found &#58;&#40;</span>
				</div>
				
				<sortable id="results" object="prettyResults" click="viewServer($index)" show="prettyResults.length"></sortable>
			</div>
			
			<div id="serverInfo" ng-class="{open: curServer, offset: loading}">
				<p class="waiting" ng-hide="curServer">Select a server to see info</p>
				
				<div class="content" ng-show="curServer">
					<p class="header">
						<span class="name" ng-bind="curServer.info.name"></span>
						&#45;
						<span ng-bind="curServer.info.gamemode"></span>
						&#45;
						<span ng-bind="curServer.info.ip"></span>:<span ng-bind="curServer.info.port"></span>
					</p>
					
					<sortable class="players" object="curServer.players"></sortable>
					
					<sortable class="rules" object="curServer.rules"></sortable>
					
					<sortable class="info" object="curServer.prettyInfo"></sortable>
						
					<div id="buttons">
						<a class='refresh'>Refresh</a>
						<button class='join btn-primary' ng-click="joinServer(curServer)">Join Server</button>
					</div>
				</div>
			</div>
				
			<div id="loadingbar" ng-show="loading == 2">
				<div id="label">{{serverResults.length}} / {{resultsLength}}</div>
				<div id="fg" ng-style="loadingBarStyle()"></div>
				<div id="bg"></div>
			</div>
		</div>

		<gamesettings>
			<div class="scrollable" style="margin: 10px; bottom: 65px; top: 0px">
				<ul>
					<li class="select">
						<label for="regionSelect" ng-bind="settings.region[query.master.region]"></label>
						<input type="checkbox" id="regionSelect" ng-model="regionSelect">
						
						<div ng-show="regionSelect">
							<a ng-repeat="(val, name) in settings.region" ng-click="setRegion(val)" ng-bind="name"></a>
						</div>
					</li>
					
					<div ng-repeat="group in settings.query">
						<li class="label" ng-bind="group.label"></li>
						
						<li ng-repeat="option in group.data" ng-class="{number: option.isNumber}">
							<label ng-bind="option.label"></label>
							
							<input type="{{option.type}}"
								   ng-model="querySettings[option.category][option.key]"
								   ng-true-value="'{{option.trueValue || 1}}'">
						</li>
					</div>
				</ul>
			</div>
			
			<bottom>
				<button class='btn-primary' ng-click="fetchServers()">Find Servers</button>
			</bottom>

		</gamesettings>
	</body>
</html>