.centeredbg:before {
	content:' ';
	display:inline-block;
	height:100%;
	vertical-align:middle;
	margin-right:-0.25em;
}

.centered {
	display:inline-block;
	vertical-align:middle;
}

#noResults {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	text-align:center;
}

#serverResults {
	width:100%;
}

#serverResults tr {
	height:40px;
	line-height:40px;
}

#serverResults td.icon {
	width:30px;
}

#serverResults td.name {
	width:50%;
}

gamesettings h1 {
	text-align:center;
	font-weight:normal;
	font-size:28px;
	color:#444;
}

gamesettings .scrollable {
	overflow-x:hidden;
	overflow-y:auto;
}

ul {
	padding:0;
	margin:0;
}

li {
	list-style:none;
}

gamesettings ul li {
	display:block;
	/* line-height:20px; */
	margin-bottom:8px;
}

gamesettings li label, gamesettings li.label {
	font-size: 11px;
	color: #666;
}

gamesettings li.label {
	text-align:center;
	margin-top:16px;
}

gamesettings .dropdown {
	margin-bottom:8px;
}

gamesettings input[type="checkbox"] {
	position:relative;
	top:2px;
	float:right;
	padding:2px;
	margin:0;
}

gamesettings input[type="text"] {
	-webkit-box-sizing:border-box;
	width:100%;
	padding:4px;
}

gamesettings li.number {
	text-align:right;
	line-height:26px;
}

gamesettings li.number label {
	float:left;
}

gamesettings li.number input {
	width:68px;
	padding:2px;
	height:20px;
}