<!doctype html>
<html>
	<head>
		<meta charset="utf-8">

		<title>Garry's Mod Main Menu</title>

		<!-- existing stuff (barf) -->
		<script type="text/javascript" src="../../../../html/js/lua.js"></script>
		
		<link rel="stylesheet" type="text/css" href="../../../../html/css/menu/Menu.css" />
		<link rel="stylesheet" type="text/css" href="../../../../html/css/menu/NewGame.css" />
		
		<!-- new stuff -->
		<script src="js/angular.min.js"></script>
		
		<script src="js/min.js"></script>
		
		<!-- <script src="js/main.js"></script>
		<script src="js/sortable.js"></script> -->
		
		<!-- <link rel="stylesheet" type="text/css" href="css/style.css" />
		<link rel="stylesheet" type="text/css" href="css/sortable.css" /> -->
		
		<link rel="stylesheet" type="text/css" href="css/min.css">
		
		<!-- <script src="js/less.min.js"></script> <!-- don't need this anymore :) -->
	</head>
	
	<body ng-app="lsbApp" ng-controller="serverBrowser">
		<div id="tabs">
			<label ng-class="{active: curTab == num}" ng-repeat="(num, tab) in tabs">
				{{tab}}

				<input type="radio" ng-model="$parent.curTab" ng-value="num">
			</label>
		</div>
		
		<div class="maplist">			
			<div id="content" class="scrollable" ng-class="{selected: curServer}">
				<div id="noResults" class="centeredbg" ng-hide="serverResults.length">
					<span class="centered">No results found &#58;&#40;</span>
				</div>
				
				<sortable id="results" object="prettyResults" click="viewServer($index)" dbl-click="joinServer($index)" show="prettyResults.length" filter="filterServers($index)"></sortable>
			</div>
			
			<div id="serverInfo" ng-class="{open: curServer}">
				<p class="waiting" ng-hide="curServer">Select a server to see info</p>
				
				<div class="content" ng-show="curServer">
					<p class="header">
						<span class="name" ng-bind="curServer.info.name"></span>
						&#45;
						<span ng-bind="curServer.info.gamemode"></span>
						&#45;
						<span ng-bind="curServer.info.ip"></span>:<span ng-bind="curServer.info.port"></span>
					</p>
					
					<sortable class="players" object="curServer.players"></sortable>
					
					<sortable class="rules" object="curServer.rules"></sortable>
					
					<sortable class="info" object="curServer.prettyInfo"></sortable>
						
					<div id="buttons">
						<button class="favorite" ng-click="favoriteServer(!curServer.favorite)"><span>{{curServer.favorite ? "Unf" : "F"}}avorite</span></button>
						<button class="refresh" ng-click="refreshServer()"><span>Refresh</span></button>
						<button class="join btn-primary" ng-click="joinServer(curServer.index)"><span>Join Server</span></button>
					</div>
				</div>
			</div>
		</div>

		<gamesettings>
			<div class="scrollable" style="margin: 10px; bottom: 130px; top: 0px">
				<ul>
					<li class="select">
						<label for="regionSelect" ng-bind="settings.region[region]"></label>
						<input type="checkbox" id="regionSelect" ng-model="regionSelect">
						
						<div ng-show="regionSelect">
							<a ng-repeat="(val, name) in settings.region" ng-click="setRegion(val)" ng-bind="name"></a>
						</div>
					</li>
					
					<div ng-repeat="group in settings.query">
						<li class="label" ng-bind="group.l"></li>
						
						<li ng-repeat="option in group.d" ng-class="{number: option.n}">
							<label ng-bind="option.l"></label>
							
							<input type="{{option.t}}"
								ng-model="serverFilter[option.k]"
								ng-true-value="{{option.tv || 1}}"
								ng-false-value="{{option.fv || 0}}"
								ng-if="option.t != 'tristate'">
							
							<tristate ng-model="serverFilter[option.k]"
								ng-if="option.t == 'tristate'">
							</tristate>
						</li>
					</div>
				</ul>
			</div>
			
			<bottom>
				<button id="quick" class="btn-primary" ng-click="fetchServers()">Quick Refresh</button>
				<button class="btn-primary" ng-click="fetchServers(true)">Full Refresh</button>
			</bottom>

		</gamesettings>
	</body>
</html>